* {
  margin: 0;
  padding: 0;
  background-size: cover;
}

/* HEADER START */
.container {
  width: 100%;
  height: 1050px;
  background-image: url(../img/BG.png);
}

.logo {
  color: white;
  font-family: Comfortaa, sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 95px;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 65px;
}

nav span {
  font-size: 20px;
  color: white;
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 376px;
  align-items: center;
}

#nav_btn_login {
  color: white;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  font-family: Poppins, sans-serif;
  position: relative;
  top: 2px;
  margin-right: 26px;
  letter-spacing: 1.25px;
  cursor: pointer;
}

#nav_btn_sign_up {
  color: #bb6df3;
  width: 132px;
  height: 36px;
  border-radius: 20px;
  border: none;
  position: relative;
  top: 2px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  cursor: pointer;
}

/* HEADER FINISH */
/* SECTION-1 START */
.section-1 {
  display: flex;
  padding-top: 180px;
  padding: 365px;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #3b668d;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
}

.section-1 span {
  color: #3b668d;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 21px;
}

.section-1_left hr {
  width: 506px;
  height: 2px;
  background-color: #3b668d;
  border: none;
  margin-top: 32px;
  margin-bottom: 45px;
}

.section-1_left h3 {
  margin-top: 40px;
  color: #3b668d;
  font-size: 26px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

.section-1_left p {
  margin-top: 13px;
  color: #3b668d;
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  width: 496px;
  line-height: 30px;
}

.section-1_left button {
  width: 304px;
  height: 75px;
  border-radius: 45px;
  border: none;
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background: linear-gradient(90deg, #509be1 0%, #e06ef2 100%);
  margin-top: 27px;
  box-shadow: 0px 6px 8px rgb(0, 0, 0, 0.28);
  cursor: pointer;
}

.section-1_right img {
  width: 600px;
}

/* SECTION-1 FINISH */
/* SECTION-2 START */
.section-2 {
  display: flex;
  justify-content: space-around;
}

.section-1_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
}

.section-2-left {
  background-image: url(../img/section2bg.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  background-size: 100%;
}

.section-2-left-img img {
  width: 85%;
}

.section-2_right_icon {
  background-image: url(../img/Group7.svg);
  width: 93px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2_right_info h3 {
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #3b668d;
  text-transform: uppercase;
}

.section-2_right_info p {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #2b4964;
}

.section-2_right_blocks {
  display: flex;
  width: 606px;
  height: 217px;
  justify-content: space-between;
}

.section-2_right_info {
  width: 488px;
}

/* SECTION-2 FINISH */
/* SECTION-3 START */

.section-3_description h2 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 72px;
  color: #3b668d;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
}

.section-3_description p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #79788f;
  line-height: 60px;
  margin-top: 23px;
}

.section-3 {
  width: 100%;
  height: 100%;
}

.section-3-cards {
  display: flex;
  width: 100%;
}

.section-3_card1 {
  width: 450px;
  margin-top: 165px;
}

.section-3_price span {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #3b668d;
}

.section-3_price p {
  color: #8572ff;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 64px;
  margin-top: 37px;
}

.section-3_price {
  text-align: center;
}

.section-3_price2 {
  background-image: url(../img/section-3-card-img.png);
  width: 500px;
  height: 302px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 5%;
}

.section-3 hr {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  border: none;
  margin-top: 117px;
  margin-bottom: 76px;
}

.section-3_card1_tarif span {
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #567796;
}

.section-3_card1_tarif {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 247px;
  height: 216px;
}

.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check img {
  width: 30px;
}

.section-3_card_tarifCheck {
  display: flex;
  justify-content: space-around;
}

.section-3_card1_img img {
  border-radius: 5%;
}

.section-3_card2_img img {
  border-radius: 5%;
}

.section-3_price h6 {
  color: #40bf3d;
  font-family: Comfortaa, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-3_card2_btn button {
  width: 308px;
  height: 79px;
  color: #fff;
  font-size: 24px;
  background: linear-gradient(90deg, #43a1d6 0%, #907eff 100%);
  box-shadow: 0px 6px 8px rgb(0, 0, 0, 0.28);
  font-weight: 700;
  font-family: Comfortaa, sans-serif;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-bottom: 47px;
}

.section-3_card2_btn span {
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #567796;
}

.section-3_card2_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.section-3_card2 {
  margin-top: 76px;
  box-shadow: 0px 5px 10px 0px rgba(137, 137, 137, 0.25);
  border-radius: 5%;
}

.section-3_cards_img {
  margin-top: 143px;
}

.section-3_price3 p {
  color: #8572ff;
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  font-size: 64px;
  margin-top: 37px;
}

.section-3_price3 span {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #3b668d;
}

.section-3_price3 {
  text-align: center;
}

.section-3_card3 {
  width: 450px;
  margin-top: 165px;
  position: relative;
  padding-top: 150px;
}

.section-3_card3_img {
  position: absolute;
  top: 0;
  left: 0;
}

.section-3_card3_img img {
  border-radius: 5%;
}

/* SECTION-3 FINISH */
